[submodule "lesson-5/shvirtd-example-python"]
	path = 01-virtd/04-docker-in-practice/shvirtd-example-python
	url = https://github.com/tundravarg/netology-shvirtd-example-python.git
[submodule "03-ansible/04/playbook/git/netology-ansible-vector"]
	path = 03-ansible/04/playbook/git/netology-ansible-vector
	url = https://github.com/tundravarg/netology-ansible-vector.git
[submodule "03-ansible/04/playbook/git/netology-ansible-lighthouse"]
	path = 03-ansible/04/playbook/git/netology-ansible-lighthouse
	url = https://github.com/tundravarg/netology-ansible-lighthouse.git
[submodule "04-ci/05/example-teamcity"]
	path = 04-ci/05/example-teamcity
	url = https://github.com/tundravarg/netology-example-teamcity.git
[submodule "05-monitoring/02-systems/tick"]
	path = 05-monitoring/02-systems/tick
	url = https://github.com/influxdata/sandbox.git
